<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Price Tracker</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <form method="post">
        {{form.hidden_tag()}}
        {{form.name.label}}{{form.name()}}<br>
        {{form.url.label}}{{form.url()}}<br>
        {{form.target_price.label}}{{form.target_price()}}<br>
        {{form.submit()}}


    </form>
<br><br><br>
    <div class="products">
        <h2>Tracking</h2><br>
        {% for name in data %}
            <a href="/track/{{name}}">{{name}}</a>            
        {% endfor %}
            
    </div>
</body>
</html>