<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking {{product.name}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='tracker.css') }}"></head>
<body>
    <h1>Tracking {{product.name}}</h1>
    <h2>Target Price {{product.target_price}}</h2>
    
    {% if reached %}
        <script>
            alert("The price has been reached")
        </script>
    {% endif %}
        
</body>
</html>